@model IEnumerable<Ex2.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="mul-col-blue">
    <canvas id="myCanvas" width="200" height="60" style="border:1px solid #000000;"></canvas>
    <section id="videoContainer">
        <!-- Introduction -->
        <video width="400" controls>
            <source src="~/media/videos/hanzo-potg.mp4" type="video/mp4">
        </video>
    </section>
    <div class="aboutMe">hi about me</div>
</div>

<script>
    const size = 500;
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.strokeText("Hanzo is OP", 10, 50);
    
</script>



<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Filter", "Posts"))
{
    <div>
        <div class="col-md-2 col-lg-2">
            Find by Role:
            @Html.DropDownList("heroRole",
           EnumHelper.GetSelectList(typeof(Ex2.Models.Role)),
           "Select Post by Hero-Role")
        </div>
        <div class="col-md-2 col-lg-2">Find by Author name: @Html.TextBox("authorName")</div>
        <div class="col-md-2 col-lg-2">Find by Hero name: @Html.TextBox("heroName")</div>
        <input class="col-md-2 col-lg-2" type="submit" value="Search" />
    </div>
}

@using (Html.BeginForm("GroupByHero", "Posts"))
{
    <div>
        <input class="col-md-2 col-lg-2" type="submit" value="Count posts by hero" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainHero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainHeroId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainHero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainHeroId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
