<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>




<body>
   

    <div>
        <!-- <audio src="./audio/mymusic.mp3" type="audio/mpeg" autoplay /> -->
    </div>
    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="nav">
                    <!-- Navigation -->
                    <ul>
                        <li class="nav-link">@Html.ActionLink("Posts", "Index", "Posts")</li>
                        <li class="nav-link">@Html.ActionLink("Heroes", "Index", "Heroes")</li>
                        <li class="nav-link">@Html.ActionLink("Comments", "Index", "Comments")</li>
                        @{
                            if (!Request.IsAuthenticated)
                            {
                                <li class="nav-link">@Html.ActionLink("Admin", "Login", "Admin")</li>
                            }
                            else  {
                                <li class="nav-link">@Html.ActionLink("Logout", "Logout", "Admin")</li>
                            }
                        }
                        
                        
                    </ul>
                </nav>

            </div>
        </div>
        <div class="blog-header">
            <div class="container">
                <h1 class="blog-title"> Shauli's overwatch blog</h1>
                <p class="lead blog-description">Looking for players to play with, in this ebola game</p>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="container">
            <div class="col-sm-10 blog-main">
                @RenderBody()
            </div>
            <aside class="col-sm-2 ">
                <div class="sidebar-module">
                    <h3>Heroes</h3>
                    <section>
                        <header>
                            <h4>Supports</h4>
                        </header>
                        <ul class="list-aside">
                            <li>Mercy</li>
                            <li>Zenyatta</li>
                            <li>Lucio</li>
                        </ul>
                    </section>
                    <section>
                        <header>
                            <h4>Tanks</h4>
                        </header>
                        <ul class="list-aside">
                            <li>Reinhardt</li>
                            <li>Winston</li>
                            <li>Zarya</li>
                            <li>Orisa</li>
                            <li>Roadhog</li>
                        </ul>
                    </section>
                    <section>
                        <header>
                            <h4>Defenders</h4>
                        </header>
                        <ul class="list-aside">
                            <li>Hanzo</li>
                            <li>Junkrat</li>
                            <li>Mei</li>
                        </ul>
                    </section>
                    <section>
                        <header>
                            <h4>Attacks</h4>
                        </header>
                        <ul class="list-aside">
                            <li>Soldier</li>
                            <li>Mccree</li>
                            <li>Tracer</li>
                        </ul>
                    </section>
                </div>
            </aside>
        </div>
    </main>

    <footer class="blog-footer">
        <p>This blog was built by pro <a href="https://playoverwatch.com/en-us/">Overwatch</a> players.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
