<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>




<body>
    <div>
        <!-- <audio src="./audio/mymusic.mp3" type="audio/mpeg" autoplay /> -->

    </div>

    <header>
        <h1 id="haTitle">Ha-Blog Shel Shauli</h1>
    </header>
    <nav>
        <!-- Navigation -->
        <ul>
            <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
            <li>About</li>
            <li>@Html.ActionLink("Fan Club", "Index", "Fans")</li>
            <li><a href="#">Contact</a></li>
            <li>
                <div id="transDemo2">
                    <div class="hover">
                        <img src=http://www.ashlylorenzana.com/wp-content/uploads/2013/12/12065637851779660844SRD_RSS_Logo.svg_.hi_.png width="30" height="30">
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div id="content">
        <div id="mainContent">
            @RenderBody()
        </div>
        <aside>
            <section>
                <header>
                    <h3>Supports</h3>
                </header>
                <ul>
                    <li>Mercy</li>
                    <li>Zenyatta</li>
                    <li>Lucio</li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Tanks</h3>
                </header>
                <ul>
                    <li>Reinhardt</li>
                    <li>Winston</li>
                    <li>Zarya</li>
                    <li>Orisa</li>
                    <li>Roadhog</li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Defenders</h3>
                </header>
                <ul>
                    <li>Hanzo</li>
                    <li>Junkrat</li>
                    <li>Mei</li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Attacks</h3>
                </header>
                <ul>
                    <li><h4 class="hh">hiii</h4></li>

                    <li>Soldier</li>
                    <li>Mccree</li>
                    <li>Tracer</li>
                </ul>
            </section>
        </aside>
    </div>
    <footer>
        <!-- Footer -->
        <div>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Blogroll</h3>
                </header>
                <ul>
                    <li><a href="#">NETTUTS+</a></li>
                    <li><a href="#">FreelanceSwitch</a></li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>Popular</h3>
                </header>
                <ul>
                    <li><a href="#">This is the title of a blog post</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                </ul>
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
